*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;

}


.container{
    height: 30vh;
    width: 100%;
    background-color: #3D74B6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}


#taskInput{
    padding: 1.1rem;
    width: 50%;
}

#addButton{
    width: 20%;
    background-color: rgb(114, 178, 157);
    transition: 1s;
    cursor: pointer;
    padding: 1rem;
}
#addButton:hover{
    scale: 1.1;

}

.taskList_container{
    height: 70vh ;
    width: 100%;
    background-color: #FBF5DE;
    display: flex;
    justify-content: center;
    padding: 2rem;
    
}

#taskList{
    height: 100%;
    width: 100%;
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

li{
    height: 10vh;
    width: 70%;
    background-color: rgb(225, 245, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 17px;
}











.deleteBtn{
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(217, 141, 60);
    position: fixed;
    right: 400px;

}

.completed{
    background-color: rgb(64, 208, 64);
}